<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cemh.mapper.SysDeptMapper">
    <select id="selectByTenantId" resultType="com.cemh.entity.SysDept">
        SELECT * FROM sys_dept
        <where>
            <if test="tenantId != null">
                tenant_id = #{tenantId}
            </if>
        </where>
        ORDER BY parent_id ASC, id ASC
    </select>
</mapper> 